pkgbase = python-diffusers
	pkgdesc = State-of-the-art diffusion models for image and audio generation in PyTorch
	pkgver = 0.19.3
	pkgrel = 1
	url = https://github.com/huggingface/diffusers
	arch = any
	license = Apache
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-filelock
	depends = python-huggingface-hub
	depends = python-importlib-metadata
	depends = python-numpy
	depends = python-pillow
	depends = python-regex
	depends = python-requests
	depends = python-safetensors
	source = python-diffusers-0.19.3::https://github.com/huggingface/diffusers/archive/refs/tags/v0.19.3.tar.gz
	sha256sums = 559a168a2157a12be0d5df8538c6a235d23a8db17d53b5201381b48b6b6d29c7

pkgname = python-diffusers
