pkgbase = python-diffusers
	pkgdesc = State-of-the-art diffusion models for image and audio generation in PyTorch
	pkgver = 0.20.1
	pkgrel = 1
	url = https://github.com/huggingface/diffusers
	arch = any
	license = Apache
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-filelock
	depends = python-huggingface-hub
	depends = python-importlib-metadata
	depends = python-numpy
	depends = python-pillow
	depends = python-regex
	depends = python-requests
	depends = python-safetensors
	source = python-diffusers-0.20.1::https://github.com/huggingface/diffusers/archive/refs/tags/v0.20.1.tar.gz
	sha256sums = 91901e4ab8e6bde76a33703b5a8c3998507639e1d48d7e65d8e9f53a192c3b24

pkgname = python-diffusers
