pkgbase = python-diffusers
	pkgdesc = State-of-the-art diffusion models for image and audio generation in PyTorch
	pkgver = 0.18.2
	pkgrel = 1
	url = https://github.com/huggingface/diffusers
	arch = any
	license = Apache
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-filelock
	depends = python-huggingface-hub
	depends = python-importlib-metadata
	depends = python-numpy
	depends = python-pillow
	depends = python-regex
	depends = python-requests
	depends = python-safetensors
	source = python-diffusers-0.18.2::https://github.com/huggingface/diffusers/archive/refs/tags/v0.18.2.tar.gz
	sha256sums = 3cc22a803d21af8beca698d76fda80ede6230b90953f9e9ece311d9cee2a3cd9

pkgname = python-diffusers
